@model pharmacyCMS.Models.sales

@{
    ViewData["Title"] = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>create</h1>

<h4>sales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label class="control-label"> Select medication</label>

                @Html.DropDownListFor(m => m.MedicationID, (SelectList)ViewBag.cities, "Select a product", new { @class = "form-control" })


            </div>
           


            
            <div class="form-group">
                <label asp-for="Medicationprice" class="control-label"></label>
                <input asp-for="Medicationprice" class="form-control" readonly />
                <span asp-validation-for="Medicationprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="discount" class="control-label"></label>
                <input asp-for="discount" class="form-control" />
                <span asp-validation-for="discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" readonly />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>

    document.getElementById('MedicationID').onchange = function () {
        $.ajax({
            type: "GET",
            url: "/Sales/ProductPrice",
            data: { par: $("#MedicationID").val() },
            success: function (data) {
                $("#Medicationprice").val(data);
            }
        })
    }






    document.getElementById('discount').onchange = function () {
         
        var discount = $("#discount").val();
        var Medicationprice = $("#Medicationprice").val();
        var az = +Medicationprice - +discount;
        $("#price").val(az);
    }

























   




</script>
<script>
    function op( ) {
        alert('gg');
          
        $.ajax({
            type: "GET",
            url: "/Sales/ProductPrice",
            data: { par: $("#MedicationID").val()  },
            success: function (data) {
                $("#Medicationprice").val(data);
                alert(value);
            }
        })
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
